body {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    /* position: relative; */
    top: 0;
    left: 0;
}

/* Повторяющиеся стили */

button, pre {
    font-family: inherit;
}

.line-separator {
    color: white;
    size: 1px;
    width: 120px;
}

.font-PT-Sans {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}

.font-PD-36 {
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.font-PD-24 {
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
/* Конец. Повторяющиеся стили  */

#container-main {
    display: grid;
    grid-template: 44px 80px 810px 730px 600px auto auto 400px 50px / repeat(2, 1fr);
    min-height: 100vh;
}

#top-line {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: gray;

}

#top-line>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.top-line-info {
    position: absolute;
    left: 20%;
    /* flex: 1 1 auto; */

}

.top-line-login {
    position: absolute;
    right: 20%;
    /* flex: 1 1 auto; */
}

.top-line-link {
    font-size: 12px;
    line-height: 16px;
    color: gray;
    text-decoration: none;
}

#second-line {
    background-color: #0F0F0F;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-line>div {
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.second-line-logo a {
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* flex-grow: 1; */
    flex: 1 1 auto;

    position: absolute;
    left: 20%;
    color: #fff;
    text-decoration: none;
}

.second-line-menu {
    /* flex-grow: 1; */
    flex: 1 1 auto;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    transition: 0.5s;
    position: absolute;
    right: 20%;
}

.menu-item {
    padding: 31px 20px;
    color: #969696;
}

.menu-item:hover,
.menu-item:active,
.menu-item:focus {
    color: white;
    background-color: #1F1F1F;
}

#menu-img-1 {
    padding: 31px 20px 31px 40px;
}

#menu-img-2 {
    padding: 31px 0 31px 20px;
}

.menu-img {
    transition: 0.5s;
}

.menu-img:hover,
.menu-img:active,
.menu-img:focus {
    width: 120%;
    height: auto;
}

#first-screen {
    position: relative;
    display: flex;
    justify-content: center;
    grid-column: span 2;
    background-image: url(image/first-screen.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    border: 4px solid #FFFFFF;
}

.logo>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    border-bottom: 2px solid #FFFFFF;
    padding-block-end: 0;
    width: 185px;
    height: 86px;
}

.logo>div:nth-child(2) {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 7px;
    width: 185px;
}

.welcom-text {
    position: absolute;
    top: 560px;
    width: 730px;
    height: 96px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
}

#new-collection {
    background-image: url(image/new-collection.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#new-collection-content {
    margin-bottom: 100px;
    text-align: center;

    /* font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase; */

    width: 376px;
    height: 146px;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    /* color: white; */
    border: 1px solid #FFFFFF;
    padding: 12px 28px;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
}

.button:hover,
.button:active,
.button:focus {
    background-color: rgba(31, 31, 31, 0.7);
}

#new-season {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 54vw;
}

#new-season-title {
    /* font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase; */

    padding-bottom: 42px;
}

.new-season-product-list {
    padding-top: 42px;
    display: flex;
}

.new-season-product-item {
    background-color: black;
    margin-left: 25px;
    margin-right: 25px;
}

.new-season-product-image {
    width: 260px;
    height: 325px;
    background: #191B1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-season-product-name {
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
}

.new-season-product-price {
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 19px;
    color: #D0D0D0;
    margin-top: 10px;
}

#collection-2018 {
    grid-column: span 2;
    display: flex;
}

.collection-2018-image {
    min-width: 45vw;
    background-image: url(image/collection-2018.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.collection-2018-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#collection-2018-name {
    /* font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase; */
    margin-bottom: 32px;
}

.collection-2018-description {
    width: 471px;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 60px;
}

.collection-2018-button:hover,
.collection-2018-button:active,
.collection-2018-button:focus {
    background-color: rgba(255, 255, 255, 0.15);
}

#new-goods {
    background-color: black;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-goods-title {
    margin-top: 120px;
    /* font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase; */
    margin-bottom: 32px;
}

.new-goods-product-list {
    margin-top: 72px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    margin-bottom: 110px;
}

.new-goods-product-item {
    margin-left: 11.5px;
    margin-right: 11.5px;
    margin-bottom: 40px;
}

#our-brands {
    background-color: #0F0F0F;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#our-brands-title {
    /* font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase; */
    margin-top: 60px;
    margin-bottom: 32px;
}

.our-brands-logo {
    margin-top: 32px;
    margin-bottom: 80px;
}

.our-brands-logo-img {
    margin-left: 15px;
    margin-right: 15px;
}

#footer {
    grid-column: span 2;
    background-image: url(image/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    width: 60%;
}

.footer-info {
    height: 220px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 30px;
}

#footer-info-title {
    /* font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase; */
    margin-bottom: 40px;
}

.footer-info-text {
    font-size: 14px;
    line-height: 150%;
}

.footer-category {
    height: 220px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 50px;
}

#footer-category-title {
    /* font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase; */
    margin-bottom: 40px;
}

.footer-category-selector {
    /* display: inline; */
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 10px; */
}

.footer-button {
    font-size: 14px;
    line-height: 150%;
    color: #D0D0D0;
    padding: 10px 20px;
    transition: 0.5s;
    background-color: #0F0F0F;
    border: 1px solid #0F0F0F;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-mailing {
    height: 220px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#footer-mailing-title {
    /* font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase; */
    margin-bottom: 40px;
}

.footer-mailing-text {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
}

/* .footer-mailing-form { */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* } */

.footer-input-email {
    background: rgba(255, 255, 255, 0.4);
    width: 180px;
    height: 42px;
    border: 0;
    padding: 0 0 0 15px;
    color: #D0D0D0;
    margin-right: 0;
}

.footer-form-button {
    box-sizing: border-box;
    margin: 0;
    width: 140px;
    height: 42 px;
    /* width: 130px; */
}

#last-line {
    background-color: #0F0F0F;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.last-line-copyright {
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
    position: absolute;
    left: 20%;
    flex-grow: 1;
}

.last-line-author {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #D0D0D0;
    position: absolute;
    right: 20%;
    flex-grow: 1;
}

/* Стили страницы входа */

.container-login {
    display: grid;
    grid-template: 44px 80px 810px 400px 50px / repeat(2, 1fr);
    min-height: 100vh;
}

.window {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
}

.window form {
    width: 100%;
}

.form-item {
    margin: 10px;
}

.form-item input {
    height: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 15px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.4);
    color: #D0D0D0;
}

.form-item input:hover,
.form-item input:focus,
.form-item input:active {
    border: 1px solid white;
    background-color: #666cff;
    color: white;
}


.form-item input::placeholder {
    font-family: sans-serif;
}

.form-item input:hover::placeholder,
.form-item input:focus::placeholder,
.form-item input:active::placeholder {
    color: white;
}


.btn {
    border: 0;
    border-radius: 30px;
    background-color: #666cff;
    width: 300px;
    height: 40px;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    border: 3px solid #666cff;
    background-color: #fff;
}

/* Свойста модального окна */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.emailUser {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}